#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.listOfCountr{
  display: flex;
  flex-direction: column;
  background-color: #444486;
  align-items: center;
  padding: 20px 40px;
  width: 550px;
  height: 450px;
}

#firstSelect{
  margin-top:100px;
  margin-bottom: 20px;
  padding: 7px;
  font-size: 18px;
  border-radius: 6px;
  width: 60%;
  outline: none;
  border: none;
}

#secondSelect{
  outline: none;
  border: none;
  width: 60%;
  padding: 7px;
  border-radius: 6px;
  font-size: 20px;
}